html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.body {
  background-image: url(./Assets/sushandplant.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
  font-family: 'Times New Roman', serif;
  font-size:larger;
  font-weight:bold;
}

.body-text {
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 50%;
  margin-right: auto;
  filter: opacity(.7);
  font-family: 'Courier New', monospace;
  font-size:larger;
  font-weight:bold;
  text-align: center;
}

Header.header {
  background-color: #0a8545;
}

.navbar-header{
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  background-color: #0a8545;
  position: sticky;
  top: 10;
  left: 10;
  filter:opacity(.7);
  padding-left: 1%;
  padding-right: 2%;
  margin-top: 6.5%;
  margin-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.footer{
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  background-color: #0a8545;
  filter:opacity(.7);
  align-items: center;
  justify-content: center;
  width: 100%;
  position:fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}