html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

*::-webkit-scrollbar {
  width: 0px;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.body {
  background-image: url(./Assets/sushandplant.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: larger;
  font-weight: bold;
}

.body-text {
  min-height: 100vh;
  position: relative;
  background:transparent;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 50%;
  margin-right: auto;
  filter: opacity(.7);
  font-family: 'Courier New', monospace;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

Header.header {
  background-color: #0a8545;
}

.navbar-header{
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  background-color: #0a8545;
  top: 10;
  left: 10;
  filter: opacity(.7);
  position: sticky;
  padding-left: 1%;
  padding-right: 2%;
  margin-top: 4.5%;
  margin-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  border-radius:20px;
  width: 90vw;
  height: 10vh;
}
.footer{
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  background-color: #0a8545;
  filter:opacity(.7);
  align-items: center;
  justify-content: center;
  width: 100%;
  position:fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.product-card {
  text-align: center;
  background-color: #0a85455e;
  padding: 5px;
  border-radius: 5px;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.product-avatar {
  justify-self: center;
  height: 8rem;
  width: auto;
}

.add-to-cart {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #059862;
  border-radius: 0.6em;
  color: #059862;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 6px 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 700;
  justify-self: center;
}
.add-to-cart:hover {
  box-shadow: 0 0 5px 0 #ffffff inset, 0 0 5px 2px #ffffff;
  height: 40%;
}